.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  margin: 0 0 36px 0;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 69px;
  }
}

.additional-products__caption {
  line-height: 16px;
  color: $special-light-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.additional-products__item-wrapper {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 38px;
  }
}

.additional-products__item {
  border-bottom: 1px solid $special-light-grey3;

  @media (min-width: $tablet-width) {
    padding: 26px 0 28px 0;
    border: 1px solid $special-light-grey3;
  }
}

.additional-products__link {
  width: 100%;
}

.additional-products__text {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 14px;
}

.additional-products__stocks {
  background: url("../img/background/additional-products.png");
  min-height: 289px;
  padding-top: 58px;

  @media (min-width: $tablet-width) {
    background: url("../img/background/cat-green.png") no-repeat;
  }
}

.additional-products__stocks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 190px;
}

.additional-products__stocks-text {
  color: $basic-white;
  width: 161px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.additional-products__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
}

.additional-products__volume {
  @media (min-width: $tablet-width) {
    margin-right: 49px;
  }
}
