.checkbox__label {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.checkbox__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: -40px;
  border: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -5px;
    left: -50px;
  }
}

.checkbox {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    @include col-1-4(80px);
  }
}
