.checkbox__label {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  margin-left: 45px;
}

.checkbox__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: -40px;
  border: 1px solid $special-light-grey;
}

.checkbox {
  margin-bottom: 20px;
}
