.effect {
  margin-top: 27px;
}

.effect__list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.effect__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.effect__item {
  background-color: $basic-grey;
  padding: 21px 33px 18px 20px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    padding: 77px 28px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 41px 28px 51px 52px;
  }
}

.effect__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.effect__item-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.effect__item-text {
  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}
