.effect {
  margin-bottom: 27px;
}

.effect__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.effect__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.effect__item {
  background-color: $basic-grey;
  padding: 30px 33px 18px 20px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    padding: 77px 28px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 2 - 40px);
    padding: 41px 52px 51px 52px;
  }
}

.effect__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0 0 29px 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.effect__item-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-transform: uppercase;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.effect__item-text {
  margin: 0 0 19px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.effect__link-weight-loss {
  margin: 0;
  width: 134px;
  background: url("../../img/decorative/arrow.svg") 93px 2px no-repeat;
}

.effect__link-weight-gain {
  margin: 0;
  width: 134px;
  background: url("../../img/decorative/arrow.svg") 91px 2px no-repeat;
}

.effect__item--weight-loss {
  background: url("../img/logo/logo-cat-slim.svg") 22px 21px no-repeat, $basic-grey;
}

.effect__item--weight-gain {
  background: url("../img/logo/logo-cat-fat.svg") 13px 24px no-repeat, $basic-grey;
}

.effect__item-link--loss {
  display: inline-block;
  padding-right: 15px;
}

.effect__item-link--gain {
  display: inline-block;
  padding-right: 17px;
}
