.example {
  background: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
    background: linear-gradient(180deg, transparent 57.1%, $basic-grey2 44.5%);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    background: linear-gradient(0deg, transparent 70.3%, $basic-white 30%),
      linear-gradient(270deg, $basic-grey2 50%, $basic-grey 50%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__choice-wrapper {
  text-align: center;
  padding-bottom: 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background: linear-gradient(0deg, $basic-grey2 70%, transparent 30%);
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 2/3;
    background: linear-gradient(0deg, transparent 70.3%, $basic-white 29.7%),
      linear-gradient(90deg, $basic-grey 53.5%, $basic-grey2 48%);

    padding-bottom: 0;
  }
}

.example__list {
  list-style: none;
  padding: 0;
  margin: 0 0 34px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px 0;
  }
}

.example__item {
  text-align: center;
  border: 1px solid $special-light-grey3;
  border-radius: 3px;
  padding-top: 13px;
  min-width: 124px;
  height: 56px;

  @media (min-width: $tablet-width) {
    padding: 15px 0 0 0;
    min-width: 162px;
    height: 72px;
    margin: 0 42px 0 0;
  }
}

.example__parameters-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    grid-row: 2/3;
    grid-column: 1/2;
    min-height: 462px;
    padding-top: 73px;
    margin: 0;
  }
}

.example__text {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    width: 680px;
    margin-bottom: 53px;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 66px;
  }
}

.example__item-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 5px 0;
  }
}

.example__desc {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  max-width: 86px;
  padding: 0 15px;
  background: $basic-grey;

  @media (min-width: $tablet-width) {
    background: $basic-white;
    max-width: none;
    font-size: 14px;
    line-height: 14px;
    padding: 0 9px;
  }

  @media (min-width: $desktop-width) {
    background: $basic-grey;
  }
}

.example__result {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
  }
}

.example__result-text {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 64px 0 0;
  }
}

.example__restriction {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px dotted $basic-special-black;
    margin-top: 6px;
    height: 30px;

    &:hover {
      border-bottom: 1px solid $basic-special-black1;
    }

    &:active {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 29px;
    margin-top: 6px;
  }
}

.example__wrapper-container {
  @media (min-width: $desktop-width) {
    background: $basic-grey;
  }
}

.example__title {
  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 59px;
  }
}

.example__title h2 {
  margin: 0 0 33px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px 0;
  }
}

.cat-hidden {
  display: none;
}

.example__selecting-result {
  display: flex;
  margin-left: 44px;

  @media (min-width: $tablet-width) {
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
  }
}

.example__choice {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 650px;
  }
}

.example__cat-image {
  position: relative;
  height: 250px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    height: 520px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.example__cat {
  max-width: none;
  overflow: hidden;
}

.example__cat img {
  display: block;
  position: absolute;
  max-width: none;
  top: 0;
}

.before {
  height: 100%;
}

.before img {
  left: -20px;

  @media (min-width: $tablet-width) {
    left: 9px;
  }

  @media (min-width: $desktop-width) {
    left: -17px;
    top: 3px;
  }
}

.after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: visible;
}

.after::before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  outline: 1px solid red;
  width: 100vw;
  height: calc(100% + 300px);
  background: $basic-grey;
}

@media (min-width: $tablet-width) {
  .after::before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    outline: 1px solid red;
    width: 100vw;
    height: calc(100% + 300px);
    background: linear-gradient(to bottom, $basic-white, $basic-white 211px, $basic-grey2 211px);
  }

  @media (min-width: $desktop-width) {
    .after::before {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      outline: 1px solid red;
      width: 100vw;
      height: calc(100% + 300px);
      background: linear-gradient(to bottom, $basic-white, $basic-white 235px, $basic-grey2 235px);
    }
  }
}

.after-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.after img {
  right: 11px;
  top: 2px;

  @media (min-width: $tablet-width) {
    right: 28px;
  }

  @media (min-width: $desktop-width) {
    right: 54px;
  }
}

.example__range {
  position: relative;
  display: block;
  width: 84px;
  margin: 2px 17px 0 18px;
  appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  background: transparent;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 40px;
    margin-top: 0;
    margin-left: 26px;
    margin-right: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 428px;
    height: 40px;
    margin-left: 26px;
    margin-right: 19px;
  }
}

.example__range:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background: $basic-green;
  cursor: pointer;
  margin: 3px 0 0 0;

  @media (min-width: $tablet-width) {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: $basic-green;
    border: 13px solid $basic-white;
    cursor: pointer;
    box-shadow: 0 0 0 1px $special-light-grey3, 0 1px 3px $special-light-grey3;
    margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */

    &:hover {
      box-shadow: 0 0 0 1px $special-light-grey3, 0 2px 4px $special-light-grey3;
    }

    &:active {
      box-shadow: 0 0 0 1px $basic-green, 0 1px 3px $special-light-grey3;
    }
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 84px;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-light-grey3;
  padding: 0 4px 0 5px;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $special-light-grey3;
    border-radius: 3px;
    border: none;
  }
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background: $basic-green;
  cursor: pointer;
  margin: 3px 0 0 0;

  @media (min-width: $tablet-width) {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: $basic-green;
    border: 14px solid $basic-white;
    cursor: pointer;
    box-shadow: 0 0 0 1px $special-light-grey3, 0 1px 3px $special-light-grey3;
    margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */

    &:hover {
      box-shadow: 0 0 0 1px $special-light-grey3, 0 2px 4px $special-light-grey3;
    }

    &:active {
      box-shadow: 0 0 0 1px $basic-green, 0 1px 3px $special-light-grey3;
    }
  }
}

input[type="range"]::-moz-range-track {
  width: 84px;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-light-grey3;
  padding: 0 4px 0 5px;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $special-light-grey3;
    border-radius: 3px;
    border: none;
  }
}
