.form__fieldset {
  border: none;
  padding: 0;
  margin: 0 0 22px 0;
}

.form__fieldset--caption {
  border-top: 2px solid $special-green;
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  padding-right: 13px;
}

.form__input {
  flex-grow: 1;
  padding: 13px 14px;
  height: 46px;
  border: 1px solid $light-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
}

.form__input::placeholder {
  color: $special-dark-grey;
  opacity: 1;
}

.form__fieldset--separator {
  border-bottom: 1px solid $dark-grey;
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  width: calc(100% - 40px);
  height: 150px;
  padding: 9px 12px 9px 14px;
  margin: 0 20px;
  border: 1px solid $light-grey;
  resize: none;
}

.form__textarea::placeholder {
  color: $special-dark-grey;
  opacity: 1;
}

.form__legend-text {
  margin: 21px 0 0 0;
  text-align: center;
  line-height: 16px;
  color: $basic-black;
}
