.functional-food {
  background:
    url("../img/background/fon-cat.svg") no-repeat,
    url("../img/background/foot-header-cat.jpg") no-repeat;
  text-align: center;
  padding-top: 27px;
}

.functional-food__title {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
}

.functional-food__slogan {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

.functional-food__link {
  font-size: 14px;
  line-height: 18px;
}
