.main_nav {
  width: 320px;
}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav__item {
  display: block;
}

.main-nav__link {
  display: inline-block;
  padding: 22px 70px 24px 69px;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;
}
