.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  padding-top: 33px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: start;
  }
}
