.product-descriptions {
  margin-top: 40px;
}

.product-descriptions__list {
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 0;
  }
}

.product-descriptions__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-descriptions__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.product-descriptions__item--quickness {
  margin-bottom: 0;
}

.product-descriptions__text {
  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    width: 201px;
  }
}
