.social {
  padding: 20px 77px 21px 73px;
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
  }
}

.social__list {
  list-style: none;
  display: flex;
}
